*{
    font-family: consolas, sans-serif;
}

.portfolio-header{
    text-align: center;
    color: white;
    background-color:red;
    border: 4px solid black;
}

.subheader{
    font-size: 20px;
}

.projects{
    color: black;
    font-size: 20px;
}

.projectlist{
    color:black;
    font-size:15px;
    display: flex;
    gap: 20px;
    overflow: auto;
    min-width: 200px;
    
}

.profile-picture{
    max-width: 200px;
    position:absolute;
    margin: auto;
    right: 20px;
    top: 20px; 
}

.capstone{  
    list-style: none;
    border-width: 5px;
    border-color: black;
    border-style: solid;

}